<h3>Lista de productos actualizada en tiempo real</h3>
<hr>
<ul id="products">
{{#each products}}
<li>
    {{name}}
</li>
    {{/each}}
</ul>
</ul>
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/index.js"></script><!--NO HAY FORMA QUE ME RECONOZCA LA RUTA!!




